<div class="container">
  <h1>{{title}}</h1>
  <div class="row">
    <form (ngSubmit)="Login()" class="form" [formGroup]="login" novalidate>
      <input class="form-control" type="text" formControlName="email" placeholder="Enter Email" />
      <div class="alert  alert-danger" *ngIf="login.get('email')?.hasError('required') && login.get('email')?.touched">
        Email is required
      </div>
      <br />
      <input class="form-control" type="password" placeholder="Enter Password" formControlName="password" />
      <div class="alert  alert-danger" *ngIf=" !login.get('password')?.valid && login.get('password')?.touched">
        Password is required and should more than {{passWordLength}} characters
      </div>
      <br />
      <form formGroupName="address">
        <input class="form-control" type="text" formControlName="city" placeholder="Enter City" />
        <br />
        <input class="form-control" type="text" formControlName="street" placeholder="Enter Street" />
      </form>
      <br />
      <input class="form-control" type="text" placeholder="Enter Age" formControlName="age" />
      <div class="alert  alert-danger" *ngIf=" !login.get('age')?.valid && login.get('age')?.touched">
        Age should be in between than {{minAge}} and {{maxAge}}
      </div>
      <br />
      <input class="form-control" type="text" placeholder="Enter Phone number" formControlName="phonenumber" />
      <div class="alert  alert-danger" *ngIf=" !login.get('phonenumber')?.valid && login.get('phonenumber')?.touched">
        Phone Number is required to send notification
      </div>
      <br />
      <label class='control-label'>Send Notification</label>
      <br />
      <label class="radio-inline">
        <input type="radio" value="email" formControlName="notfication">Email
      </label>
      <label class="radio-inline">
        <input type="radio" value="phone" formControlName="notfication">Phone
      </label>
      <br />
      <button [disabled]="login.invalid" class="btn btn-danger">Login</button>
    </form>
  </div>
  <button class="btn btn-default" (click)="login.reset()">Clear</button>
</div>